[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
"pywin32" = "*"
pytesseract = "*"
opencv-python = "*"
matplotlib = "*"
image = "*"
numpy = "*"
dataclasses = "*"
pyautogui = "*"
imutils = "*"
requests = "*"
"json5" = "*"

[dev-packages]

[requires]
python_version = "3.7"
